<%- include('../_header'); -%>

<div class="columns">
  <div class="column is-one-quarter">
    <%- include('./_menu'); -%>
  </div>
  <div class="column">
    <h1 class="title">Integrity Checker - FASTER</h1>

    <div class="box">
      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="text" id="includeFilter--integrityChecker" placeholder="Keywords to include" />
              <span class="icon is-small is-left">
                <i class="fa-solid fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="text" id="excludeFilter--integrityChecker" placeholder="Keywords to exclude" />
              <span class="icon is-small is-left">
                <i class="fa-solid fa-minus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column is-narrow">
          <button class="button is-primary" id="button--integrityChecker" type="button">Apply Filters</button>
        </div>
      </div>
    </div>

    <table class="table is-bordered is-fullwidth is-striped is-hoverable is-rowfocused is-size-7">
      <thead>
        <tr>
          <th rowspan="2">FASTER Web Asset Number</th>
          <th rowspan="2" class="has-text-centered">
            <abbr title="Vehicle Identification Number">VIN</abbr> / Serial
          </th>
          <th class="has-text-centered" colspan="3">Year</th>
          <th class="has-text-centered" colspan="3">Make</th>
          <th class="has-text-centered" colspan="3">Model</th>
        </tr><tr>
          <th>FASTER Web</th>
          <th></th>
          <th>NHTSA</th>
          <th>FASTER Web</th>
          <th></th>
          <th>NHTSA</th>
          <th>FASTER Web</th>
          <th></th>
          <th>NHTSA</th>
        </tr>
      </thead>
      <tbody id="tbody--integrityChecker"></tbody>
    </table>

  </div>
</div>

<%- include('../_footerA'); -%>

<script>
  exports.integrityRecords = <%- JSON.stringify(integrityRecords) %>;
</script>
<script src="<%= urlPrefix %>/integrityChecker/javascripts/faster.js"></script>

<%- include('../_footerB'); -%>
