<!DOCTYPE html>
<html class="is-fullwidth" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="<%= csrfToken %>">

  <title>
    <%= headTitle %>: FASTER Web Helper
  </title>

  <link rel="icon" href="<%= urlPrefix %>/images/logo.svg" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/bulma/bulma.min.css" />
</head>

<body>
  <nav class="navbar is-light is-mobile" role="navigation" aria-label="Main Navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= urlPrefix %>/dashboard">
        <img src="<%= urlPrefix %>/images/logo.svg" alt="" height="28" />
        <strong>FASTER Web Helper</strong>
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="<%= urlPrefix %>/logout">
        <span class="icon">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </span>
        <span>Log Out <%= user.userName %></span>
      </a>
    </div>
  </nav>

  <main class="container pt-2 px-3 mr-auto"
    data-url-prefix="<%= urlPrefix %>"
    aria-label="Main Content">