<!doctype html>
<html class="is-fullwidth" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= headTitle %>: FASTER Web Helper</title>

    <link rel="icon" href="<%= urlPrefix %>/images/logo.svg" />
    <link rel="stylesheet" href="<%= urlPrefix %>/lib/bulma/versions/bulma-no-dark-mode.min.css" />
    <link rel="stylesheet" href="<%= urlPrefix %>/css/all.css" />
  </head>

  <body>

    <nav
      class="level is-mobile has-background-dark py-2"
      role="navigation"
      aria-label="Main Navigation"
    >
      <div class="level-left">
        <div class="level-item">
          <a class="button has-background-inherit" href="<%= urlPrefix %>/dashboard" style="border: 0;">
            <span class="image is-32x32 mr-2">
              <img src="<%= urlPrefix %>/images/logo.svg" alt="" />
            </span>
            <strong class="has-text-white">FASTER Web Helper</strong>
          </a>
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <a class="button has-background-inherit has-text-white" href="<%= urlPrefix %>/logout" style="border: 0;">
            <span class="icon">
              <i class="fa-solid fa-sign-out-alt" aria-hidden="true"></i>
            </span>
            <span>Log Out <%= user.userName %></span>
          </a>
        </div>
      </div>
    </nav>

    <main
      class="container py-2 px-3 mr-auto"
      data-url-prefix="<%= urlPrefix %>"
      aria-label="Main Content"
    >