<%- include('../_header'); -%>

<h1 class="title">Inventory Count Scanner</h1>

<div class="columns">
  <div class="column is-one-third">
    <div class="panel">
      <h2 class="panel-heading">
        Selected Batch
      </h2>
      <div class="panel-block is-block">
        <div class="field">
          <div class="control">
            <input class="button is-fullwidth" type="button" id="inventory--currentBatch" value="" />
          </div>
        </div>
        <div id="inventory--currentBatchDetails"></div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <form id="inventory--itemForm">
        <fieldset disabled>
          <div class="field">
            <div class="control has-icons-left">
              <div class="select is-fullwidth">
                <select id="inventory--itemsToInclude" name="itemsToInclude">
                  <option value="counted" selected>Counted Items Only</option>
                  <option value="all">All Items</option>
                  <option value="uncounted">Uncounted Items Only</option>
                </select>
              </div>
              <span class="icon is-small is-left">
                <i class="fas fa-list" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="field has-addons">
            <div class="control has-icons-left">
              <div class="select is-fullwidth">
                <select id="inventory--itemNumberFilterType" name="itemNumberFilterType">
                  <option value="startsWith" selected>Item Number Starts With</option>
                  <option value="contains">Item Number Contains</option>
                  <option value="endsWith">Item Number Ends With</option>
                </select>
              </div>
              <span class="icon is-small is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
            <div class="control is-expanded">
              <input class="input" id="inventory--itemNumberFilter" name="itemNumberFilter" type="text" placeholder="Item Number Filter" />
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div id="inventory--currentBatchItems"></div>
  </div>
</div>

<%- include('../_footerA'); -%>

<script>
  cityssm.htmlModalFolder = "<%= urlPrefix %>/inventoryScanner/html/";
</script>

<% if (typeof openBatch === 'object') { %>
  <script>
    window.exports.openBatch = <%- JSON.stringify(openBatch) %>;
  </script>
<% } %>
<script src="<%= urlPrefix %>/inventoryScanner/javascripts/adminCount.js"></script>

<%- include('../_footerB'); -%>
