<%- include('../_header'); -%>

<div class="columns is-mobile is-vcentered">
  <div class="column">
    <h1 class="title">Inventory Issue Scanner</h1>
  </div>
  <div class="column is-narrow">
    <div class="dropdown is-right">
      <div class="dropdown-trigger">
        <button class="button" type="button" aria-haspopup="true">
          <span class="icon is-small">
            <i class="fa-solid fa-link" aria-hidden="true"></i>
          </span>
          <span>Links</span>
          <span class="icon is-small">
            <i class="fa-solid fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item" href="<%= urlPrefix %>/apps/inventoryScanner" target="_blank">
            <span class="icon">
              <i class="fa-solid fa-link" aria-hidden="true"></i>
            </span>
            <span>Scanner App</span>
          </a>
          <% if (fasterUrlBuilder !== undefined) { %>
            <hr class="dropdown-divider" />
            <div class="dropdown-item"><strong>FASTER Web</strong></div>
            <a class="dropdown-item" href="<%= fasterUrlBuilder.inventorySearchUrl() %>" target="_blank">
              <span class="icon">
                <i class="fa-solid fa-link" aria-hidden="true"></i>
              </span>
              <span>Inventory Search</span>
            </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a href="#tab--pending">
        Pending Scanner Records
        <span class="tag is-warning ml-2 is-hidden" id="pending--unknownCount" title="Unknown Count">
          <i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i>
          <span class="ml-1">0</span>
        </span>
        <span class="tag is-danger ml-2 is-hidden" id="pending--errorCount" title="Error Count">
          <i class="fa-solid fa-ban" aria-hidden="true"></i>
          <span class="ml-1">0</span>
        </span>
      </a>
    </li>
    <li>
      <a href="#tab--syncErrors">Sync Errors</a>
    </li>
    <li>
      <a href="#tab--inventory">Inventory List</a>
    </li>
    <% if (configHelpers.getConfigProperty('modules.inventoryScanner.fasterItemRequests.ntfy.isEnabled')) { %>
      <li>
        <a href="#tab--more">
          <span class="icon is-small">
            <i class="fa-solid fa-ellipsis" aria-hidden="true"></i>
          </span>
          More</a>
      </li>
    <% } %>
  </ul>
</div>
<div class="tab-container">
  <div id="tab--pending">
    <div class="box">
      <div class="columns is-vcentered">
        <div class="column">
          <div class="field has-addons">
            <div class="control">
              <label class="button">
                <input class="mr-2" id="pending--autoRefresh" type="checkbox" />
                Auto Refresh (5 Minutes)
              </label>
            </div>
            <div class="control">
              <button id="pending--doRefresh" class="button is-primary" type="button">
                <span class="icon"><i class="fa-solid fa-refresh" aria-hidden="true"></i></span>
                <span>Refresh Now</span>
              </button>
            </div>
          </div>
        </div>
        <div class="column is-narrow" id="itemRequests--column">
          <a
            class="has-text-warning-dark"
            title="Resolve Requests in FASTER Web"
            href="<%= fasterUrlBuilder === undefined ? '#' : fasterUrlBuilder.inventoryItemRequestSearchUrl %>"
            target="_blank">
            <i class="fa-solid fa-exclamation-triangle" aria-hidden="true"></i>
            <span>0</span>
            Item Request(s)
          </a>
        </div>
        <div class="column is-narrow has-text-right">
          <button class="button is-info" id="pending--doSync" type="button">
            <span class="icon">
              <i class="fa-solid fa-upload" aria-hidden="true"></i>
            </span>
            <span>Sync Scanner Records</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th>Scan Time</th>
          <th>Work Order</th>
          <th>Repair</th>
          <th>Item</th>
          <th class="has-text-right">Quantity</th>
          <th class="has-text-right">Unit Price</th>
          <th class="has-text-centered">
            <i class="fa-solid fa-gear" title="Options"></i>
          </th>
        </tr>
      </thead>
      <tbody id="tbody--pending"></tbody>
    </table>
  </div>
  <div class="is-hidden" id="tab--syncErrors">
    <div class="box has-text-right">
      <button class="button is-info" id="syncErrors--returnSelected" type="button">
        Return Selected to Pending
      </button>
    </div>
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">
            <button class="button is-ghost" id="syncErrors--toggleAll" type="button" title="Toggle Selected">
              <i class="fa-solid fa-check-square" aria-hidden="true"></i>
            </button>
          </th>
          <th>Scan Time</th>
          <th>Work Order / Repair</th>
          <th>Item</th>
          <th>Sync Error</th>
          <th class="has-text-centered">
            <i class="fa-solid fa-gear" title="Options"></i>
          </th>
        </tr>
      </thead>
      <tbody id="tbody--syncErrors"></tbody>
    </table>
  </div>
  <div class="is-hidden" id="tab--inventory">
    <div class="box">
      <div class="columns is-vcentered">
        <div class="column is-narrow">
          <div class="field has-addons">
            <div class="control has-icons-left">
              <input
                id="filter--inventory"
                class="input"
                type="text"
                placeholder="Filter items"
                aria-label="Filter items"
              />
              <span class="icon is-small is-left">
                <i class="fa-solid fa-filter" aria-hidden="true"></i>
              </span>
            </div>
            <div class="control">
              <span
                id="displayCount--inventory"
                class="button is-static"
              ></span>
            </div>
          </div>
        </div>
        <div class="column">
          <label class="checkbox">
            <input id="filter--showZeroQuantity" type="checkbox" />
            Show Zero Quantity Items
        </div>
        <div class="column is-narrow">
          <button
            id="reload--inventory"
            class="button is-primary"
            type="button"
          >
            <span class="icon is-small">
              <i class="fa-solid fa-refresh" aria-hidden="true"></i>
            </span>
            <span>Reload Inventory List</span>
          </button>
        </div>
      </div>
    </div>
    <div id="container--inventory"></div>
  </div>
  <% if (configHelpers.getConfigProperty('modules.inventoryScanner.fasterItemRequests.ntfy.isEnabled')) { %>
    <%
      const subscribeUrl = configHelpers.getConfigProperty('ntfy.server') + '/' +
        configHelpers.getConfigProperty('modules.inventoryScanner.fasterItemRequests.ntfy.topic');
    %>
    <div class="is-hidden" id="tab--more">
      <div class="panel is-info">
        <p class="panel-heading">NTFY Notifications</p>
        <div class="panel-block is-block">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="more--ntfyServer">
                  NTFY Server
                  <% if (configHelpers.ntfyServerIsDefault) { %>
                    <span class="tag">Default</span>
                  <% } %>
                </label>
                <input class="input" id="more--ntfyServer" value="<%= configHelpers.getConfigProperty('ntfy.server') %>" readonly />
              </div>
              <div class="field">
                <label class="label" for="more--ntfyTopic">
                  NTFY Topic
                </label>
                <input class="input" id="more--ntfyTopic" value="<%= configHelpers.getConfigProperty('modules.inventoryScanner.fasterItemRequests.ntfy.topic') %>" readonly />
              </div>
            </div>
            <div class="column is-two-thirds">
              <div class="message is-info">
                <div class="message-body">
                  <div class="content">
                    <p>
                      The Inventory Scanner module is configured to send notifications to
                      <a href="https://ntfy.sh/" target="_blank">the NTFY service</a>
                      when certain actions occur.
                    </p>
                    <ul>
                      <li>New item requests are made in FASTER Web.</li>
                    </ul>
                    <p>
                      You can install the NTFY app on your tablet or phone to receive these notifications, or 
                      <a href="<%= subscribeUrl %>" target="_blank">subscribe to them in your web browser</a>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  <% } %>
</div>

<%- include('../_footerA'); -%>

<script>
  cityssm.htmlModalFolder = "<%= urlPrefix %>/inventoryScanner/html/";

  exports.fasterWorkOrderUrl = "<%= fasterUrlBuilder.workOrderUrl('{workOrderNumber}') %>"

  exports.refreshPendingRecordsFromExportEventName =
    'fasterWebHelper.refreshPendingRecordsFromExport'

  exports.openInventoryItemEventName =
    'fasterWebHelper.openInventoryItem'

  exports.pendingRecords = <%- JSON.stringify(pendingRecords) %>;
  exports.syncErrorRecords = <%- JSON.stringify(syncErrorRecords) %>;

  exports.inventory = <%- JSON.stringify(inventory) %>;

  exports.itemRequestsCount = <%- itemRequestsCount %>;
</script>
<script src="<%= urlPrefix %>/lib/jsbarcode/barcodes/JsBarcode.code39.min.js"></script>
<script src="<%= urlPrefix %>/inventoryScanner/javascripts/adminIssuePending.js"></script>
<script src="<%= urlPrefix %>/inventoryScanner/javascripts/adminIssueSyncErrors.js"></script>
<script src="<%= urlPrefix %>/inventoryScanner/javascripts/adminIssueInventory.js"></script>

<%- include('../_footerB'); -%>
