<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Scanner: FASTER Web Helper
  </title>

  <link rel="icon" href="<%= urlPrefix %>/images/logo.svg" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/bulma/versions/bulma-no-dark-mode.min.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/css/all.css" />
</head>

<%
  let workOrderPattern = configHelpers.getConfigProperty('modules.inventoryScanner.workOrders.fasterRegex').source

  if (configHelpers.getConfigProperty('modules.inventoryScanner.workOrders.acceptWorkTech')) {
    workOrderPattern = `(?:${workOrderPattern}|${configHelpers.getConfigProperty('modules.inventoryScanner.workOrders.workTechRegex').source})`
  }

  const itemNumberPattern = configHelpers.getConfigProperty('modules.inventoryScanner.items.itemNumberRegex')?.source
%>

<body>
  <main data-url-prefix="<%= urlPrefix %>">
    <h1 class="is-sr-only">Inventory Scanner</h1>

    <div class="navbar is-hidden is-mobile is-success is-fixed-top" id="scanner--successMessage">
      <div class="navbar-brand">
        <div class="navbar-item">
          <i class="fa-solid fa-check" aria-hidden="true"></i>
          <strong>Record Saved Successfully</strong>
        </div>
      </div>
    </div>

    <div class="columns is-vcentered is-centered">
      <div class="column is-one-third-widescreen is-half-tablet">
        <div class="tabs is-fullwidth" role="tablist">
          <ul role="presentation">
            <li class="is-active">
              <a href="#tab--scanner">
                <span class="icon is-small"><i class="fa-solid fa-barcode" aria-hidden="true"></i></span>
                <strong>Scan</strong>
              </a>
            </li>
            <li>
              <a href="#tab--history">
                <span class="icon is-small"><i class="fa-solid fa-clock-rotate-left" aria-hidden="true"></i></span>
                <span>History</span>
              </a>
            </li>
            <li>
              <a href="#tab--about">
                <span class="icon is-small"><i class="fa-solid fa-circle-info" aria-hidden="true"></i></span>
                <span>Info</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="tab-containers m-2">
          <div id="tab--scanner">
            <form id="form--scanner">
              <input id="scanner--scannerKey" name="scannerKey" type="hidden" />
    
              <label class="label" for="scanner--workOrderNumber">Work Order Number</label>
              <div class="field has-addons">
                <div class="control has-icons-left has-icons-right is-expanded">
                  <input class="input" id="scanner--workOrderNumber" name="workOrderNumber" type="text" maxlength="15"
                    pattern="<%- workOrderPattern %>" autocomplete="off"
                    required autofocus />
                  <span class="icon is-small is-left">
                    <i class="fa-solid fa-clipboard" aria-hidden="true"></i>
                  </span>
                  <span class="icon is-small is-right" id="scanner--workOrderNumber-validateIcon" title="Work Order Required">
                    <i class="fa-solid fa-question-circle" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="control">
                  <button class="button is-clear-button" type="button" title="Clear Work Order">
                    <span class="icon">
                      <i class="fa-solid fa-trash" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
    
              <label class="label" for="scanner--repairId">Repair</label>
              <div class="field has-addons">
                <div class="control has-icons-left is-expanded">
                  <div class="select is-fullwidth">
                    <select id="scanner--repairId" name="repairId">
                      <option value="">(Auto-Detect)</option>
                    </select>
                  </div>
                  <span class="icon is-small is-left">
                    <i class="fa-solid fa-wrench" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="control">
                  <button class="button is-clear-button" type="button" title="Clear Repair">
                    <span class="icon">
                      <i class="fa-solid fa-trash" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>

              <div class="label">Item Type</div>
              <input id="scanner--itemType" name="itemType" type="hidden" value="stock" />

              <div class="tabs is-toggle is-fullwidth mb-3" role="tablist">
                <ul id="scanner--itemTypeTabs" role="presentation">
                  <li class="is-active">
                    <a href="#itemTypeTab--stock" data-item-type="stock">
                      <span>Stock Item</span>
                    </a>
                  </li>
                  <li>
                    <a href="#itemTypeTab--nonStock" data-item-type="nonStock">
                      <span>Non-Stock</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="tab-container mb-3">
                <div id="itemTypeTab--stock">
                  <fieldset>
                    <label class="label" for="scanner--itemNumber">Item Number</label>
                    <div class="field has-addons">
                      <div class="control has-icons-left is-expanded">
                        <input class="input" id="scanner--itemNumber" name="itemNumber" type="text" maxlength="22"
                          <% if (itemNumberPattern !== undefined) { %>
                            pattern="<%- itemNumberPattern %>"
                          <% } %>
                          placeholder="<%= configHelpers.getConfigProperty('modules.inventoryScanner.items.placeholder') %>"
                          autocomplete="off" required />
                        <span class="icon is-small is-left">
                          <i class="fa-solid fa-bag-shopping" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="control">
                        <button class="button is-clear-button" type="button" title="Clear Item">
                          <span class="icon">
                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="columns is-mobile is-size-7">
                      <div class="column">
                        <span id="scanner--itemDescriptionSpan"></span>
                      </div>
                      <div class="column is-narrow has-text-right">
                        <span id="scanner--unitPriceSpan"></span>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="is-hidden" id="itemTypeTab--nonStock">
                  <fieldset disabled>
                    <label class="label" for="scanner--itemNumberSuffix">Item Reference Number</label>
                    <div class="field has-addons">
                      <div class="control">
                        <div class="select">
                          <select id="scanner--itemNumberPrefix" name="itemNumberPrefix">
                            <option value="GP">GP</option>
                            <option value="CC">CC</option>
                          </select>
                        </div>
                      </div>
                      <div class="control">
                        <div class="button is-static">-</div>
                      </div>
                      <div class="control is-expanded">
                        <input class="input" id="scanner--itemNumberSuffix" name="itemNumberSuffix" type="text" maxlength="19"
                          placeholder="Reference number" autocomplete="off" required />
                      </div>
                      <div class="control">
                        <button class="button is-clear-button" type="button" title="Clear Item">
                          <span class="icon">
                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                    </div>

                    <label class="label" for="scanner--itemDescription">Item Description</label>
                    <div class="field has-addons">
                      <div class="control has-icons-left is-expanded">
                        <input class="input" id="scanner--itemDescription" name="itemDescription" type="text" maxlength="100"
                          placeholder="Enter a description of the item" autocomplete="off" required />
                        <span class="icon is-small is-left">
                          <i class="fa-solid fa-info-circle" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="control">
                        <button class="button is-clear-button" type="button" title="Clear Item">
                          <span class="icon">
                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                    </div>

                    <label class="label" for="scanner--unitPrice">Unit Price</label>
                    <div class="field has-addons">
                      <div class="control has-icons-left is-expanded">
                        <input class="input" id="scanner--unitPrice" name="unitPrice" type="text" inputmode="decimal" pattern="^\d+(\.\d{1,2})?$"
                          placeholder="0.00" autocomplete="off" required />
                        <span class="icon is-small is-left">
                          <i class="fa-solid fa-dollar-sign" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="control">
                        <button class="button is-clear-button" type="button" title="Clear Unit Price">
                          <span class="icon">
                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="columns is-mobile is-align-items-end">
                <div class="column">
                  <input id="scanner--quantityMultiplier" name="quantityMultiplier" type="hidden" value="1" />
                  <label class="label" for="scanner--quantity">
                    Issue Quantity
                  </label>
                  <div class="field has-addons">
                    <div class="control">
                      <button class="button" id="is-toggle-quantity-multiplier" type="button" title="Toggle Issue/Return">
                        <span class="icon">
                          <i class="fa-solid fa-plus" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="control is-expanded">
                      <input class="input has-text-right" id="scanner--quantity" name="quantity" type="text" value="1" inputmode="numeric" pattern="^\d+$" maxlength="3" autocomplete="off" required />
                    </div>
                    <div class="control">
                      <button class="button is-clear-button" type="button" title="Clear Quantity">
                        <span class="icon">
                          <i class="fa-solid fa-trash" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <button class="button is-fullwidth is-primary" type="submit">
                    Issue Item(s)
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="is-hidden" id="tab--history">
            <div id="history--container">
              <p class="has-text-centered">
                <i class="fa-solid fa-5x fa-spinner fa-spin-pulse" aria-hidden="true"></i>
              </p>
            </div>
          </div>
          <div class="is-hidden" id="tab--about">
            <table class="table is-fullwidth">
              <tbody>
                <tr>
                  <th>Scanner Key</th>
                  <td class="has-text-right" id="about--scannerKey"></td>
                </tr>
                <tr>
                  <th>FASTER Web Helper Version</th>
                  <td class="has-text-right"><%= version %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </main>

  <script>
    window.exports = window.exports || {};
  </script>
  <script src="<%= urlPrefix %>/lib/cityssm-bulma-js/bulma-js.js"></script>
  <script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/cityssm.min.js"></script>
  <script>
    bulmaJS.init();
  </script>
  <script src="<%= urlPrefix %>/lib/fa/js/all.min.js" defer></script>

  <script>
    exports.scannerHistory = [];
    exports.renderScannerHistoryEventName =
      'fasterWebHelper.renderScannerHistory'
  </script>
  <script src="<%= urlPrefix %>/inventoryScanner/javascripts/scanner.js"></script>
  <script src="<%= urlPrefix %>/inventoryScanner/javascripts/scannerHistory.js"></script>

</body>

</html>